# dependencies
/node_modules/

# build outputs
/build/
/dist/

# production logs
*.log
logs/

# environment variables
.env
.env.local
.env.*.local

# testing
/coverage/

# editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS system files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# optional cache folders
.cache/
.parcel-cache/

# local storage emulation (browser won't persist this in Git but just in case)
*.localStorage.json

# eslint cache
.eslintcache

# yarn
yarn.lock

# npm
package-lock.json
